:root {
    --darkest-blue-color: #024;
    --dark-blue-color: #048;
    --dark-blue-hover-color: #05a;
    --medium-blue-color: #7bf;
    --light-blue-color: #bdf;
    --light-blue-hover-color: #9cf;
    --lightest-blue-color: #def;
    --white-hover-color: #def;
    --dark-warning-color: #600;
    --light-warning-color: #f00;
}

@font-face {
    font-family: "journalregular";
    src: url("fonts/journal-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@media all and (max-width: 575px) {
    .container {
        max-width: 500px;
    }
}

@media all and (min-width: 576px) {
    .container {
        max-width: 550px;
    }

    .option .image {
        height: 4em;
        width: 4em;
    }

    .option .image.left {
        float: left;
        margin-left: 0.25em;
        margin-right: 0.75em;
    }

    .option .image.right {
        float: right;
        margin-left: 0.7em;
        margin-right: 0.25em;
    }
}

@media all and (min-width: 768px) {
    .container {
        max-width: 600px;
    }
}

@media all and (min-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media all and (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

.component {
    margin-bottom: 0.8em;
    text-align: center;
}

.component.header {
    overflow: auto;
    margin-bottom: 0;
}

.component.buttons {
    margin-top: 1em;
}

.title {
    color: var(--darkest-blue-color);
    font-size: 3em;
    font-weight: 700;
}

.subtitle {
    color: var(--darkest-blue-color);
    display: inline-block;
    font-size: 1.5em;
    font-weight: 700;
    width: 75%;
}

.heading {
    font-size: 1.5em;
    font-family: Courier New, Courier, monospace;
    text-decoration: underline;
}

.text {
    font-size: 1.2em;
    font-weight: 700;
}

.information {
    display: inline-block;
    font-size: 1.1em;
    width: 75%;
    color: var(--darkest-blue-color);
}

.emphasis {
    color: var(--dark-blue-color);
    display: inline-block;
    font-style: italic;
    width: 75%;
}

label {
    color: var(--darkest-blue-color);
    font-size: 1.15em;
    font-weight: 700;
    margin-bottom: 0;
}

input[type=text], textarea {
    border-color: var(--darkest-blue-color);
}

input[type=text] {
    max-width: 16em;
    width: 100%;
}

input[type=text].error {
    border-color: var(--light-warning-color);
}

input[type=checkbox] {
    margin-right: 0.5em;
}

.note {
    color: var(--dark-blue-color);
    display: inline-block;
    font-size: 0.9em;
    width: 60%;
}

.error-message {
    color: var(--light-warning-color);
    display: inline-block;
    font-size: 0.9em;
    font-weight: 700;
    width: 60%;
}

.nav-link {
    font-size: 1.25em;
}

.option {
    color: var(--medium-blue-color);
    border-color: var(--light-blue-color);
    border-style: solid;
    border-width: 2px;
    margin-bottom: 0.75em;
    overflow: auto;
    padding: 0.5em 0.75em;
}

.option:first-child {
    margin-top: 0.75em;
}

.option:last-child {
    margin-bottom: 1em;
}

.option.active {
    border-color: var(--medium-blue-color);
    color: #000;
}

.option.active.selected {
    border-color: var(--light-blue-color);
}

.option.active:hover {
    background-color: #def;
    cursor: pointer;
}

.option.selected {
    background-color: var(--light-blue-color);
    color: #000;
}

.option.active.selected:hover {
    background-color: var(--light-blue-hover-color);
    border-color: var(--light-blue-hover-color);
}

.option .name {
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
}

.option .description {
    text-align: center;
}

.option .image {
    height: 6em;
    width: 6em;
}

button {
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    font-weight: 700;
    padding: 4px 12px;
}

button:not(:last-child) {
    margin-right: 8px;
}

button:disabled {
    background-color: white;
    border-color: var(--light-blue-color);
    color: var(--medium-blue-color);
}

button.navigation:enabled {
    background-color: var(--light-blue-color);
    border-color: var(--dark-blue-color);
    color: black;
}

button.navigation:enabled:hover {
    background-color: var(--light-blue-hover-color);
}

button.action:enabled {
    background-color: var(--dark-blue-color);
    border-color: black;
    color: var(--medium-blue-color);
}

button.action:enabled:hover {
    background-color: var(--dark-blue-hover-color);
}

button.header {
    background-color: white;
    border-color: var(--dark-blue-color);
    color: var(--dark-blue-color);
    padding: 0 6px;
    float: right;
    font-size: 0.9em;
}

button.header:hover {
    background-color: var(--white-hover-color);
}

.character {
    background-color: black;
    color: white;
    display: inline-block;
}

.character.invalid {
    background-color: #f33;
    color: black;
}

.character.pad-left {
    padding-left: 0.25em;
}

.character.pad-right {
    padding-right: 0.25em;
}

.character.empty {
    background-color: var(--light-blue-color);
}

.character.fixed {
    color: var(--light-blue-color);
}

.character.fixed.invalid {
    color: var(--dark-warning-color);
}

code {
    color: var(--dark-blue-color);
    background-color: var(--lightest-blue-color);
}
